<!DOCTYPE html>
<html ng-app="askQuestion" ng-controller="askController">
<head>
    <meta charset="utf-8" />
    <title>addQuestion</title>
    <link rel="stylesheet" href="css/ask_question.css" />
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="js/ask_question.js"></script>
</head>

<body>

<div class="container" ng-disabled="popupRunning">

    <h1> Build your own question: </h1>

    <div id = chooseFormat>

        <h2> Choose A Format: </h2>
        <select ng-model="selectedFormat" ng-options="x for x in formats" ng-change="recreateArgs()" ng-disabled="!formats"></select>

        <h2 ng-show = dropDownArr[0]> Choose {{dropDownArr[0]}}: </h2>
        <select ng-model="selectedFirstArg" ng-options="x for x in firstArgOptions" ng-change="firstUpdated()" ng-show="dropDownArr[0]" ng-disabled = "!firstArgOptions"></select>


        <h2  ng-show = dropDownArr[1]> Choose {{dropDownArr[1]}}: </h2>
        <select ng-model="selectedSecondArg" ng-options="x for x in secondArgOptions" ng-change="secondUpdated()" ng-show="dropDownArr[1]" ng-disabled = "!secondArgOptions"></select>


        <!--<h2  ng-show = dropDownArr[2]> Choose {{dropDownArr[2]}}: </h2>-->
        <!--<select ng-model="selectedThirdArg" ng-options="x for x in thirdArgOptions" ng-change="thirdUpdated()" ng-show="dropDownArr[2]" ng-disabled = "!thirdArgOptions"></select>-->
    </div>

    <div id=generatedQuestionDiv>
        <h2 id=generatedQuestion> {{ selectedFormatWithNumbers.replace("#1",selectedFirstArg || "___" ).replace("#2",selectedSecondArg || "___" ) }}</h2>
        <!--.replace("#3",selectedThirdArg || "___")-->

    </div>

    <div class = buttons>
        <button id="submit_button" ng-disabled="!allArgsSelected" ng-click="submit()">Submit</button>
        <a href="welcome_page.html" class="button" ng-disabled="popupRunning">Cancel</a>
        <!--<button id="cancel_button" ng-disabled="cancelDisabled" ng-click="go('/welcome_page.html')">Cancel</button>-->

    </div>


</div>

<div class='popup' ng-show = 'showPopUp'>
    <h3> Question was submited! </h3>
    <a href="welcome_page.html" class="button">Done</a>
</div>

</body>

</html>