<!DOCTYPE html>
<html ng-app="askQuestion" ng-controller="askController">
<head>
    <meta charset="utf-8" />
    <title>addQuestion</title>
    <link rel="stylesheet" href="css/ask_question.css" />
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="js/ask_question.js"></script>
</head>

<body>

<div class="container">

    <div id = chooseFormat>

        <h2> Choose A Format: </h2>
        <select ng-model="selectedFormat" ng-options="x for x in formats" ng-change="recreateArgs()" ng-disabled="formats == null"></select>

        <h2 ng-show = dropDownArr[0] ng-disabled = firstArgOptions> Choose {{dropDownArr[0]}}: </h2>
        <select ng-model="selectedFirstArg" ng-options="x for x in firstArgOptions" ng-change="firstUpdated()" ng-show="dropDownArr[0]"></select>


        <h2  ng-show = dropDownArr[1]> Choose {{dropDownArr[1]}}: </h2>
        <select ng-model="selectedSecondArg" ng-options="x for x in secondArgOptions" ng-change="secondUpdated()" ng-show="dropDownArr[1]"></select>


        <h2  ng-show = dropDownArr[2]> Choose {{dropDownArr[2]}}: </h2>
        <select ng-model="selectedThirdArg" ng-options="x for x in thirdArgOptions" ng-change="thirdUpdated()" ng-show="dropDownArr[2]"></select>



    </div>


</div>
</body>

</html>