<!--<div class="buttons-div" ng-show="!inProgress">-->
    <!--<button class="button" ng-click="start()">Ready, Set, Go!</button>-->
<!--</div>-->

<div id="loading" ng-show="!inProgress">
    <h2> Loading... </h2>
    <img id=progressBarImage src="img/hourglass.gif">
</div>


<div class="quiz-area" ng-show="inProgress" >
    <div id="score">
        Score: {{score}}
    </div>

    <div ng-show="!quizOver">
        <h2 id="question">{{question}}</h2>
        <ul id="options">
            <li ng-repeat="option in options">
                <label>
                    <input type="radio" name="answer" value="{{option}}" ng-disabled="!$parent.answerMode">
                    {{option}}
                </label>
            </li>
        </ul>
        <div class="buttons-div">
            <button class=button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>
        </div>
        <div class="buttons-div" ng-show="!answerMode">
            <button ng-click="nextQuestion()" id="next-question">Next</button>
            <div class="correctness" ng-show="correctAns">That is correct!</div>
            <div class="correctness" ng-show="!correctAns">Sorry, that is an incorrect answer.</div>
            <div class="correctness"> {{correctRatio}}% of the people answered correctly</div>
        </div>
    </div>

    <div ng-show="quizOver" class="buttons-div">
        <h2>Quiz is over! Your score is {{score}}</h2>
        <!--<button class="button" ng-click="reset()">Play again</button>-->
        <!--<a href="welcome_page.html" ng-click ="done()" class="button"> Done</a>-->
        <button class="button" ng-click="done()">Done</button>

    </div>


</div>
