body {
    /*background-image: url(../img/OlympicDay.jpg);*/
    background-color: darksalmon;
    -webkit-background-size: cover
}


h1 {
    font-family: "Comic Sans MS";
    font-size: 55px;
    margin-top: 100px;
}



h2 {
    font-family: "Comic Sans MS";
    font-size: 30px;
    margin: 50px;
    color: #09ff22;
}

.button {

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;

}
