body {
    background-image: url(../img/OlympicDay.jpg);
    background-color: darksalmon;
    -webkit-background-size: cover;
}


h1 {
    font-family: "Andale Mono";
    font-size: 55px;
    margin-top: 100px;
}



h2 {
    font-family: "Andale Mono";
    font-size: 30px;
    color:  #4CAF50;
    text-align: center;
}

li {
    list-style: none;
    font-family: "Andale Mono";
    margin: 2%;
}

#score {
    font-family: "Andale Mono";
    text-align: end;
    padding-right: 8%;
}

/*#progressBarImage {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*margin-left: -60px;*/
/*}*/

.button, #next-question {

    font-family: "Andale Mono";
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}


.container {
    border-radius: 8px;
    background-color: whitesmoke;
    opacity: 0.95;
    align-self: center;
    margin: 10%;
    padding: 3%;
}

.correctness {
    font-family: "Andale Mono"
}


.buttons-div{
    text-align:center
}

#next-question{

}
