<div class="container" ng-disabled="infoPopupRunning">

<div id="loading" ng-show="!inProgress">
    <h2> Loading.. </h2>
    <img id=progressBarImage src="img/hourglass.gif">
</div>


<div class="quiz-area" ng-show="inProgress" >

    <div ng-show="!quizOver">
        <div id="question_num">
            Question: {{id+1}} / {{numQuestions}}
        </div>
        <div id="score">
            Score: {{score}}
        </div>
        <h2 id="question">{{question}}</h2>
        <ul id="options">
            <li ng-repeat="option in options">
                <label>
                    <input type="radio" name="answer" value="{{option}}" ng-disabled="!$parent.answerMode">
                    {{option}}
                </label>
            </li>
        </ul>
        <div class="buttons-div">
            <button class=button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>
        </div>
        <div class="buttons-div" ng-show="!answerMode">
            <button ng-click="nextQuestion()" id="next-question" ng-disabled="infoPopupRunning">Next</button>
            <button id="infoButton" ng-click="moreInfo()" ng-show="info" ng-disabled="infoPopupRunning"></button>
            <div class="correctness" ng-show="correctAns">That is correct!</div>
            <div class="correctness" ng-show="!correctAns">Sorry, that is an incorrect answer. The correct answer is {{options[answer]}}.</div>
            <div class="correctness"> {{correctRatio}}% of the people answered correctly</div>
        </div>
    </div>

    <div ng-show="quizOver" class="buttons-div">
        <h2>Quiz is over! Your score is {{score}}</h2>
        <a href="welcome_page.html" ng-click ="done()" class="button"> Done</a>

    </div>
</div>

<div class='popup' ng-show='infoPopupRunning'>
    <h3> {{infoTitle}} </h3>
    <table>
        <tr>
            <td>
                <div id="infoTextBox">
                    {{info}}
                </div>
            </td>
            <td>
                <img src="{{image}}" ng-show="hasPicture" style="width:150px;padding-right:20px;">
            </td>
        </tr>
    </table>
    <button id=closeInfo ng-click=doneInfo()>Cool!</button>
</div>

<div class='popup' ng-show='showErrorMessage'>
    <h3> Error getting trivia questions </h3>
    <p id="errorTextBox" ng-bind-html-unsafe="errorMessage"></p>
    <a href="welcome_page.html" class="button">Back to home page</a>
</div>

</div>


