body {
    background-image: url(../img/OlympicDay.jpg);
    background-color: darksalmon;
    -webkit-background-size: cover;
    font-family: 'Droid Sans Mono' ;
}

h2 {
    font-size: 30px;
    color:  #4CAF50;
    text-align: center;
}

.updating {
    align-items: center;
    align-content: center;
    text-align: center;
}

#progressBarImage {
    align-self: center;
    align-content: center;
}

.button, #update_button {

    font-family: 'Droid Sans Mono';
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}

.container {
    border-radius: 8px;
    background-color: whitesmoke;
    opacity: 0.95;
    align-self: center;
    margin: 10%;
    padding: 3%;
}


.buttons-div{
    text-align: center;
}

#update_button[disabled]{
    background-color: gray;
}