body {
    background-image: url(../img/OlympicDay.jpg);
    background-color: darksalmon;
    -webkit-background-size: cover;
}

h2 {
    font-family: "Andale Mono";
    font-size: 30px;
    color:  #4CAF50;
    text-align: center;
}

#progressBarImage {
    align-self: center;
}

.button, #update_button {

    font-family: "Andale Mono";
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}

.container {
    border-radius: 8px;
    background-color: whitesmoke;
    opacity: 0.95;
    align-self: center;
    margin: 10%;
    padding: 3%;
}


.buttons-div{
    text-align: center;
}

#update_button[disabled]{
    background-color: gray;
}
















/*body {*/
    /*background-image: url(../img/OlympicDay.jpg);*/
    /*background-color: darksalmon;*/
    /*-webkit-background-size: cover;*/
/*}*/



/*.button, #update_button {*/

    /*font-family: "Andale Mono";*/
    /*background-color: #4CAF50;*/
    /*background-size: cover;*/
    /*border: none;*/
    /*color: white;*/
    /*padding: 16px 32px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*font-size: 16px;*/
    /*margin: 4px 2px;*/
    /*border-radius: 8px;*/
/*}*/

/*#update_button[disabled] {*/
    /*background-color: gray;*/
/*}*/

/*h2 {*/
    /*font-family: "Andale Mono";*/
    /*background-color: #4CAF50;*/
    /*font-size: 30px;*/
    /*color:  white;*/
    /*text-align: center;*/
/*}*/